.header
	background: rgb(33,36,41)
.header
	background: linear-gradient(180deg, rgba(33,36,41,1) 50%, rgba(249,249,251,1) 50%)

.nav
	display: flex
	justify-content: flex-end
	align-items: center
	position: relative



//===menu===
.menu
	position: fixed
	z-index: 20
	top: 0
	left: 0
	width: 320px
	// min-width: 320px
	background: $accent_color
	padding: rem(20px)
	transition: .3s
	transform: translateX(-100%)
.menu-active
	transform: translateX(0)

.menu-list
	width: 100%
	// min-height: 80vh
	display: flex
	flex-direction: column
	// justify-content: space-between
.menu-list .menu-item
	margin-bottom: rem(20px)
.menu-list .menu-item:last-child
	margin-bottom: 0

.menu-list .categories-list
	margin: 0
.menu-list .categories-item
	padding: rem(10px)
	border: none
.menu-list .categories-item a
	color: #999
	font-size: rem(14px)

.menu-list .list
	display: flex
	justify-content: space-between
.menu-list .list__item
	padding: 0
.menu-list .list__item,
.menu-list .list__item:last-child
	border: none

.menu-link
	+font('montserrat', rem(17px), $accent_color, 700)
	letter-spacing: 1px
	text-transform: uppercase
	text-decoration: none
	color: #fff
.menu-link:hover
	text-decoration: underline
//===menu===
//===menu-btn===
.menu__btn
	width: rem(62px)
	height: rem(57px)
	border-left: 2px solid #3c3c3c
	border-right: 2px solid #3c3c3c
	background: #212429
	position: absolute
	cursor: pointer
	top: 0
	right: -98px
	transition: 0.3s
.menu-active .menu__btn
	right: 0

.menu__btn:hover
	opacity: 0.5

.menu__btn span,
.menu__btn span:before,
.menu__btn span:after
	position: absolute
	top: calc(50% - 1px)
	left: calc(50% - 10px)
	width: 20px
	height: 2px
	background: #fff

.menu__btn span:before,
.menu__btn span:after
	content: ''

.menu__btn span:before
	transform: translateY(-5px)

.menu__btn span:after
	transform: translateY(5px)
//===menu-btn===


//===header-logo===
.header-logo
	position: absolute
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
//===header-logo===


//===list===
.list
	display: flex
	justify-content: center

.list__item
	border-left: 2px solid #3c3c3c
	padding: rem(19px)
	cursor: pointer

.list__item:last-child
	border-right: 2px solid #3c3c3c

.list__item:hover .list__link
	color: #999

.list__link
	text-decoration: none
	color: #fff
//===list===


//===slider===
.slider-item
	position: relative
	padding: rem(215px) rem(100px)
	background: url('../../img/main.jpg') center top no-repeat / cover
	outline: none

.slider__subtitle
	+font($default_font, rem(17px), #fff, 400)
	letter-spacing: 2px
	margin-bottom: rem(17px)

.slider__title
	+font($default_font, rem(40px), #fff, 700)
	letter-spacing: 4px
	line-height: rem(49px)
	text-transform: uppercase
	max-width: rem(465px)

.slider__desc
	position: absolute
	right: rem(0px)
	top: 50%
	transform: translateY(-50%) rotate(270deg)
	+font($default_font, rem(13px), #fff, 400)
	letter-spacing: 2px
	text-transform: uppercase

.slider .slick-arrow,
.slider .slick-dots
	position: absolute
	z-index: 10
	top: 50%
	transform: translateY(-50%)
	right: 60px
	background: transparent
	font-size: rem(25px)
	border: none
	outline: none
	color: #fff
	cursor: pointer
.slider .slick-arrow:hover
	color: #999
.slider .slick-prev
	top: 32%
.slider .slick-next
	top: 67%

.slider .slick-dots
	right: 100px
.slider .slick-dots li
	width: 8px
	height: 8px
	border: 1px solid #fff
.slider .slick-dots li:first-child
	margin-bottom: 8px
.slider .slick-dots li:last-child
	margin-top: 8px
.slider .slick-dots li:hover
	background: #999
.slider .slick-dots .slick-active
	background: #999
//===slider===


//===subscribe===
.subscribe
	padding: rem(27px)
	border: 1px solid #f5f5f7
	background: #f7f7f7
	display: flex
	justify-content: space-between
	align-items: center

.subscribe-desc
	+font('montserrat', rem(20px), $accent_color, 700, rem(25px))
	text-transform: uppercase
	letter-spacing: 3px
	max-width: rem(175px)
	margin-right: rem(50px)

.subscribe__form
	flex-grow: 1
	display: flex
	align-items: center

.subscribe__input
	flex: 1 1 auto
	margin-right: rem(27px)
	padding: rem(14px) rem(30px)
	+font($default_font, rem(15px), $thirth_color, 300)
	text-transform: uppercase
	background: #fff
	border: 1px solid #f3f3f3
//===subscribe===